# Data dictionary quick reference

In [248]:
import ipywidgets as widgets
import pandas as pd

[Source: Data Dictionary Text](https://www.kaggle.com/c/dsi-us-6-project-2-regression-challenge/data)

In [331]:
# read data dictionary into a dictionary
data_dic = {}
get_values = []
key = ''
with open("./datasets/inputs/Data_dic.txt") as dict_file:
    for line in dict_file:
        get_values = line.strip().rstrip('\n').split(':')
        if ':' in line:
            key = get_values[0].replace(" ","_").lower()
            data_dic[key] = [get_values[1].strip()]
        else:
            data_dic[key].extend(get_values)

# save so I can use in other notebooks
f = open("./datasets/outputs/data_dic_reuse.txt","w")
f.write(str(data_dic))
f.close()

In [251]:
## Select Column You want to explore

dropdown = widgets.Dropdown(options=list(data_dic.keys()))
display(dropdown)

Dropdown(options=('mssubclass', 'mszoning', 'lotfrontage', 'lotarea', 'street', 'alley', 'lotshape', 'landcontâ€¦

In [626]:
## View Column Attributes - run cell to return selected value above

print(f"Description:\n\t{data_dic[dropdown.value][0]}")
print("Categories:")
for x in range(1,len(data_dic[dropdown.value][1:])):
    print(f"\t{data_dic[dropdown.value][x]}")

Description:
	Above grade (ground) living area square feet
Categories:

---

# Create Data dictionary

---

In [493]:
ames_train = pd.read_csv('./datasets/inputs/train.csv')

In [494]:
# get column names
cols = list(ames_train.columns)
# replace the spaces and make lower case
new_cols = [x.replace(" ","_").lower() for x in cols]

In [495]:
#create dictionary
new_cols_dic = dict(zip(cols, new_cols))

# rename columns
ames_train.rename(columns=new_cols_dic, inplace=True)

In [498]:
data_type_list = list(ames_train.iloc[:,0:82].dtypes)
data_type_list;

In [499]:
# create dataframe for dictionary for reference

dt_df = pd.DataFrame(zip(ames_train, data_type_list))
dt_df.rename(columns={0:'feature'}, inplace=True)
dt_df.rename(columns={1:'data_type'}, inplace=True)

In [501]:
# get column datatypes
dt_df['clean_dt'] = dt_df['data_type'].apply(lambda x: str(x))
    
dt_df['clean_dt'] = dt_df['data_type'].apply(lambda x: "int" if str(x) == "int64" else "float" 
                                                if str(x) == "float64" else "string")

In [502]:
dt_df.head()

        feature data_type clean_dt
0            id     int64      int
1           pid     int64      int
2   ms_subclass     int64      int
3     ms_zoning    object   string
4  lot_frontage   float64    float

In [503]:
# remove old data type values
dt_df.drop('data_type', axis=1, inplace=True)

In [504]:
# create a column with data source entry
dt_df['dataset'] = 'train'

In [506]:
# rename column appropriately
dt_df.rename(columns={'index':'feature'});
dt_df.tail(20)

           feature clean_dt dataset
61   garage_finish   string   train
62     garage_cars    float   train
63     garage_area    float   train
64     garage_qual   string   train
65     garage_cond   string   train
66     paved_drive   string   train
67    wood_deck_sf      int   train
68   open_porch_sf      int   train
69  enclosed_porch      int   train
70      3ssn_porch      int   train
71    screen_porch      int   train
72       pool_area      int   train
73         pool_qc   string   train
74           fence   string   train
75    misc_feature   string   train
76        misc_val      int   train
77         mo_sold      int   train
78         yr_sold      int   train
79       sale_type   string   train
80       saleprice      int   train

---

## Create data dictionary for Read.me

In [507]:
# Get features list
comp_data_set = list(ames_train.columns)

In [508]:
# Get descriptions
desc_list = []
for k,v in data_dic.items():
    desc_list.append(v[0])

In [509]:
# Add description for missing rows
desc_list.append('Price property was sold for')
desc_list.insert(0, "Row number")
desc_list.insert(0, "Property number")

In [512]:
# create a column with data source entry
dt_df['description'] = desc_list
dt_df

,feature,clean_dt,dataset,description
0,id,int,train,Property number
1,pid,int,train,Row number
2,ms_subclass,int,train,The building class
3,ms_zoning,string,train,Identifies the general zoning classification o...
4,lot_frontage,float,train,Linear feet of street connected to property
...,...,...,...,...
76,misc_val,int,train,$Value of miscellaneous feature
77,mo_sold,int,train,Month Sold
78,yr_sold,int,train,Year Sold
79,sale_type,string,train,Type of sale
80,saleprice,int,train,Price property was sold for

In [513]:
dt_df.to_csv('./datasets/outputs/data_dictionary_df.csv')

In [515]:
dic_str = '|Feature|Type|Dataset|Description|\n|---|---|---|---|\n'
dt_dict = dt_df.to_dict('index')
for key, inner_dic in dt_dict.items():
    for k,v in inner_dic.items():
        dic_str += '| ' + str(inner_dic[k]) + " "
    dic_str += '|\n' 

# print and copy into read.me file
print(dic_str)

|Feature|Type|Dataset|Description|
|---|---|---|---|
| id | int | train | Property number |
| pid | int | train | Row number |
| ms_subclass | int | train | The building class |
| ms_zoning | string | train | Identifies the general zoning classification of the sale. |
| lot_frontage | float | train | Linear feet of street connected to property |
| lot_area | int | train | Lot size in square feet |
| street | string | train | Type of road access to property |
| alley | string | train | Type of alley access to property |
| lot_shape | string | train | General shape of property |
| land_contour | string | train | Flatness of the property |
| utilities | string | train | Type of utilities available |
| lot_config | string | train | Lot configuration |
| land_slope | string | train | Slope of property |
| neighborhood | string | train | Physical locations within Ames city limits |
| condition_1 | string | train | Proximity to main road or railroad |
| condition_2 | string | train | Proximity to main road or railroad (if a second is present) |
| bldg_type | string | train | Type of dwelling |
| house_style | string | train | Style of dwelling |
| overall_qual | int | train | Overall material and finish quality |
| overall_cond | int | train | Overall condition rating |
| year_built | int | train | Original construction date |
| year_remod/add | int | train | Remodel date (same as construction date if no remodeling or additions) |
| roof_style | string | train | Type of roof |
| roof_matl | string | train | Roof material |
| exterior_1st | string | train | Exterior covering on house |
| exterior_2nd | string | train | Exterior covering on house (if more than one material) |
| mas_vnr_type | string | train | Masonry veneer type |
| mas_vnr_area | float | train | Masonry veneer area in square feet |
| exter_qual | string | train | Exterior material quality |
| exter_cond | string | train | Present condition of the material on the exterior |
| foundation | string | train | Type of foundation |
| bsmt_qual | string | train | Height of the basement |
| bsmt_cond | string | train | General condition of the basement |
| bsmt_exposure | string | train | Walkout or garden level basement walls |
| bsmtfin_type_1 | string | train | Quality of basement finished area |
| bsmtfin_sf_1 | float | train | Type 1 finished square feet |
| bsmtfin_type_2 | string | train | Quality of second finished area (if present) |
| bsmtfin_sf_2 | float | train | Type 2 finished square feet |
| bsmt_unf_sf | float | train | Unfinished square feet of basement area |
| total_bsmt_sf | float | train | Total square feet of basement area |
| heating | string | train | Type of heating |
| heating_qc | string | train | Heating quality and condition |
| central_air | string | train | Central air conditioning |
| electrical | string | train | Electrical system |
| 1st_flr_sf | int | train | First Floor square feet |
| 2nd_flr_sf | int | train | Second floor square feet |
| low_qual_fin_sf | int | train | Low quality finished square feet (all floors) |
| gr_liv_area | int | train | Above grade (ground) living area square feet |
| bsmt_full_bath | float | train | Basement full bathrooms |
| bsmt_half_bath | float | train | Basement half bathrooms |
| full_bath | int | train | Full bathrooms above grade |
| half_bath | int | train | Half baths above grade |
| bedroom_abvgr | int | train | Number of bedrooms above basement level |
| kitchen_abvgr | int | train | Number of kitchens |
| kitchen_qual | string | train | Kitchen quality |
| totrms_abvgrd | int | train | Total rooms above grade (does not include bathrooms) |
| functional | string | train | Home functionality rating |
| fireplaces | int | train | Number of fireplaces |
| fireplace_qu | string | train | Fireplace quality |
| garage_type | string | train | Garage location |
| garage_yr_blt | float | train | Year garage was built |
| garage_finish | string | train | Interior finish of the garage |
| garage_cars | float | train | Size of garage in car capacity |
| garage_area | float | train | Size of garage in square feet |
| garage_qual | string | train | Garage quality |
| garage_cond | string | train | Garage condition |
| paved_drive | string | train | Paved driveway |
| wood_deck_sf | int | train | Wood deck area in square feet |
| open_porch_sf | int | train | Open porch area in square feet |
| enclosed_porch | int | train | Enclosed porch area in square feet |
| 3ssn_porch | int | train | Three season porch area in square feet |
| screen_porch | int | train | Screen porch area in square feet |
| pool_area | int | train | Pool area in square feet |
| pool_qc | string | train | Pool quality |
| fence | string | train | Fence quality |
| misc_feature | string | train | Miscellaneous feature not covered in other categories |
| misc_val | int | train | $Value of miscellaneous feature |
| mo_sold | int | train | Month Sold |
| yr_sold | int | train | Year Sold |
| sale_type | string | train | Type of sale |
| saleprice | int | train | Price property was sold for |